#me{
    border-radius: 50%;
    height:300px;
    width: 300px;
}

img{
  width: 300px;
  height:300px;
  object-fit: contain;}

  .cartoon{
    border-radius: 50%;
}

.first-part{
background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
font-family: 'Kalam', cursive;
}
.first-part h1{
font-weight: bolder;
color: aliceblue;}

.first-part p{
color: aliceblue;
}

.second-part{

    font-family: 'Bricolage Grotesque', sans-serif;
}
.second-part h2{
    font-weight: bolder;

}
.skills{
    font-weight:900;

}


.third-part{
    font-family: 'Bricolage Grotesque', sans-serif;

}
span{
    font-size: smaller;
}

.gradient-background{
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);

}

.view{
    background-color: pink;
    color: white; 
    border: none;  
}